<div id="login-menu"
     mat-dialog-actions>
  <h3 class="btn-login">
    Choose a login method
  </h3>
  <span>
    <button [mat-dialog-close]
            class="btn btn-login btn-primary btn-lg"
            color="accent"
            (click)="data.user.loginWithGoogle()">
      Login with Google
    </button>
  </span>
  <span>
    <button [mat-dialog-close]
            class="btn btn-login btn-secondary btn-lg"
            color="accent"
            disabled>
      Login with email
    </button>
  </span>
  <span>
    <button class="btn btn-login btn-secondary btn-lg"
            color="accent"
            disabled>
      Login with Facebook
    </button>
  </span>
  <span>
    <button class="btn btn-login btn-secondary btn-lg"
            color="accent"
            disabled>
      Login with Twitter
    </button>
  </span>
</div>