<mat-card id="login-form" class="mat-elevation-z4">
  <span *ngIf="userService.currentUser | async as user">
      <h3>Welcome back {{user.displayName}}!</h3>

  </span>

  <h3>Hi there!</h3>
  <p>
    We don't recognise you being here before.<br>
    Please allow us to create an account for you by logging in with Google.
  </p>

  <span class="login-form__user-image-container">
    <img src="" class="login-form__user-image">
  </span>

  <span>
    <button matRipple (click)="loginWithGoogle()">
      Login with Google
    </button>
  </span>
  <span>
    <button disabled>
      Login with Email
    </button>
  </span>

</mat-card>