#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  padding-top: 4em;
  margin-top: 5em;
  width: 80%;
  max-width: 520px;
}

.login-form__user-image-container {
  position: absolute;
  top: -4em;
}
.login-form__user-image {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  background-color: #FFF;
  background-image: url(/static/2x/baseline_account_circle_black_36dp.png);
  background-size: cover;
}