.full-width-table {
    width: 100%;
}

.mat-header-cell {
    font-size: 1.1em;
    color: var(--color-prim-muted);
}

td .location-badge {
    border: solid 1px var(--color-prim-muted);
    padding: 2px 6px;
    font-family: monospace;
    text-align: center;
    margin-right: 10px;
}

.action-column div {
    margin: 0;
    padding: 0;
}

.action-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
}

.bookings-title {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 0.5em;
    padding: 0.5em;
    h3 {
        margin: auto 0;
        color: var(--color-prim-light);
        text-shadow: 1px 1px 2px var(--color-prim-muted);
    }
}

.main-container {
    height: 100%;
}

.map-container {
    background: var(--color-sec);
    background: linear-gradient(45deg, var(--color-sec) 0%, var(--color-prim) 100%);
    min-width: 60%;
    width: 60%;
}

.bookings-container {
    // min-width: calc(40% - 4em);
    // width: 40%;
    height: 100%;
    padding: 1em;
    background: var(--color-prim);
    background: linear-gradient(45deg, var(--color-prim) 0%, var(--color-sec) 100%);
}

table {
    background-color: rgba(255, 255, 255, 0.35);
}

tr.mat-row {
    height: 40px;
}

.view-button {
    color: var(--color-prim);
}

.approve-button {
    color: var(--color-confirm);
}
.unapprove-button {
    color: var(--color-prim-muted);
}
.delete-button {
    color: var(--color-cancel);
}

.mat-header-row,
.mat-paginator {
    background-color: var(--color-prim-light);
}

mat-checkbox {
    position: absolute;
    margin-top: 1em;
    margin-left: 2em;
}

$accent: #ff69b4;

@import '~@progress/kendo-theme-material/scss/all';
