.full-width-table {
    width: 100%;
}

.mat-header-cell {
    font-size: 1.1em;
    color: cornflowerblue;
}

td .location-badge {
    border: solid 1px lightgrey;
    padding: 2px 6px;
    font-family: monospace;
    text-align: center;
    margin-right: 10px;
}

.bookings-title {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 0.5em;
    margin-bottom: 0.5em;
}

$accent: #ff69b4;

@import '~@progress/kendo-theme-material/scss/all';
