.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

td {
  margin: 0;
  vertical-align: middle;
}

td .location-badge {
  border: solid 1px lightgrey;
  padding: 4px 8px;
  font-family: monospace;
  text-align: center;
}

td.locs {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding: 10px; 
  vertical-align: middle;
  display: grid;
  grid-template-columns:120px 120px auto;
  grid-gap: 10px;
}