<div class="card mt-1">
    <div class="card-body">
        <div class="card-title"><h6 class="text-center">List of Cars</h6></div>
        <table class="table table-sm table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Plate</th>
                    <th>Location</th>
                    <th class="text-center m-0 fit"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of carList">
                    <td class="fit">{{ car.name }}</td>
                    <td class="fit">{{ car.plate }}</td>
                    <td class="locs">
                        <span class="location-badge">{{ car.location?.lat }}</span
                        ><span class="location-badge">{{ car.location?.lon }}</span>
                    </td>
                    <td class="text-center m-0 fit">
                        <div>
                            <button class="btn btn-sm btn-primary text-white" (click)="onEdit(car)">
                                <i class="far fa-edit"></i>
                            </button>
                            <button class="btn btn-sm btn-danger text-white" (click)="onDelete(car)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">JAUC cars</div>
</div>
