.page-wrapper {
  width: 100%;
  min-height: 80%;

  background: var(--color-prim); /* Fallback if gradients are not available */
  background: -moz-linear-gradient(-45deg, var(--color-prim) 0%, var(--color-sec) 100%);
  background: -webkit-linear-gradient(-45deg, var(--color-prim) 0%, var(--color-sec) 100%);
  background: linear-gradient(135deg, var(--color-prim) 0%, var(--color-sec) 100%);
}

main {
  padding: 2em;
}
@media(max-width: 480px) {
  main {
    padding: 1em;
  }
}

footer {
  display: flex;
  background: var(--color-muted);
  color: #FFF;
  justify-content: space-between;

  padding: 2em;
  box-sizing: border-box;
}
footer section {
  min-width: 20%;
  max-width: 25%;
}

@media(max-width: 480px) {
  footer {
    display: block;
  }
  footer section {
    width: 100%;
  }
}