<div class="page-wrapper">
  <header-area></header-area>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>

<footer>
  <section>
    <h5>Autobots</h5>
    <p>Here is a description of what we do around here.</p>
  </section>

  <section>
    <h5>Customer questions?</h5>
    <p>Direct them to our <a>knowledge base</a>.</p>
  </section>

  <section>
    <h5>Social Links here</h5>
    <ul>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
    </ul>
  </section>
</footer>