<span *ngIf="(userService.user | async) as user; else login">
  <!-->small class="badge badge-sm mr-2" *ngIf="userService.currentUser.isAdmin | async">(admin)</small-->
  <span class="mr-2">
  </span>
  <span *ngIf="user.photoUrl; else defaultPic" class="m-2">
    <a mat-icon-button [matMenuTriggerFor]="menu">
      <img [src]="user.photoUrl" class="header-login__user-image" alt="User profile image">
      <span class="m-2">{{ user.displayName }}</span>
    </a>
  </span>
  <ng-template #defaultPic>
    <a mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>verified_user</mat-icon>
      <span class="m-2">{{ user.displayName }}</span>
    </a>
  </ng-template>
  <mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>perm_identity</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</span>
<ng-template #login>
  <a routerLink="/login" routerLinkActive="active">Login</a>
</ng-template>