.reports-container {
    display: grid;
    grid-template-columns: 200px auto;
}

.report-navigation ul {
    all: unset;
}
.report-navigation ul li {
    list-style: none;

    padding: 1em;
    border-bottom: 1px solid black;
}
