<!-- <div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <jauc-car></jauc-car>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12">
      <jauc-car-list></jauc-car-list>
    </div>
  </div>
</div> -->

<!-- <mat-grid-list cols="2" rows="1:3">
  <mat-grid-tile>
    <jauc-car></jauc-car>
  </mat-grid-tile>
  <mat-grid-tile>
    <jauc-car-list></jauc-car-list>
  </mat-grid-tile>
</mat-grid-list> -->

<mat-grid-list cols="2" rows="1:1">

  <mat-card>
    <jauc-car></jauc-car>
  </mat-card>

  <mat-card>
    <jauc-car-list></jauc-car-list>
  </mat-card>

</mat-grid-list>