<footer class="background-dark">
    <section>
        <h4>JAUC</h4>
        <p>Here is a description of what we do around here.</p>
        <p *ngIf="user" (click)="us.logout()">Logout</p>
    </section>

    <section>
        <h4>Customer questions?</h4>
        <p>Direct them to our <a>knowledge base</a>.</p>
    </section>

    <section>
        <h4>Social Links here</h4>
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
        </ul>
    </section>
</footer>
