<!-- <div fxLayout="column" fxLayoutAlign="start left" class="mat-body-1">Car Works!</div> -->

<!--
    <mat-grid-list cols="2" rowHeight="4:3" id="cars-grid">
      <mat-grid-tile> <app-add-car></app-add-car> </mat-grid-tile>
      <mat-grid-tile> <app-car-list></app-car-list> </mat-grid-tile>
      <mat-grid-tile colspan="2"> <app-car-map></app-car-map></mat-grid-tile>
    </mat-grid-list>
-->

<div id="cars-grid">
    <div class="cars-left">
        <app-add-car></app-add-car>
        <app-car-stats></app-car-stats>
        <a href="mailto:jauc-project@gmail.com">
            <mat-card>
                <h4 class="rythm-bass">
                    <span class="fa-stack rythm-medium">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <b>JAUC Cars</b>
                </h4>
            </mat-card>
        </a>
    </div>
    <div class="cars-right">
        <app-car-map></app-car-map>
        <app-car-list></app-car-list>
    </div>
</div>
