<!-- <div fxLayout="column" fxLayoutAlign="start left" class="mat-body-1">Car Works!</div> -->

<!--
  <mat-grid-list cols="2" rowHeight="4:3" id="cars-grid">
    <mat-grid-tile> <app-add-car></app-add-car> </mat-grid-tile>
    <mat-grid-tile> <app-car-list></app-car-list> </mat-grid-tile>
    <mat-grid-tile colspan="2"> <app-car-map></app-car-map></mat-grid-tile>
  </mat-grid-list>
-->

<div id="cars-grid">
  <app-add-car></app-add-car>
  <app-car-list></app-car-list>
  <app-car-map></app-car-map>
</div>
