.cars-left,
.cars-right {
    height: 100%;
}

#cars-grid {
    padding: 1em;
    height: 100%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.cars-left {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr auto;
}
.cars-right {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 300px auto;
}
