@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/leaflet/dist/leaflet.css';

/* According to the Material design spec button text has to be capitalized */
button {
  text-transform: capitalize;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
