/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
@import '../node_modules/leaflet/dist/leaflet.css';
@import '../node_modules/ngx-toastr/toastr.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  --color-prim: #79d8bf;
  --color-sec: #79cccd;
  --color-confirm: #65c97d;
  --color-cancel: #BC3333;
  --color-muted: #527f7f;
}

#track-map {
  height: 100%;
}

.clearfix {
  overflow: auto;
}
