/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
@import '../node_modules/leaflet/dist/leaflet.css';
@import '../node_modules/ngx-toastr/toastr.css';

/*
 * Typography
 */
html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0;

  --color-prim: #79cccd;
  --color-sec: #6acf96;
  --color-confirm: #65c97d;
  --color-cancel: #BC3333;
  --color-muted: #527f7f;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}
h1 { font-size: 3em; }
h2 { font-size: 2.4em; }
h3 { font-size: 2em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

p, a, span {
  font-family: 'Roboto', sans-serif;
}

/*
 * Stuff
 */

button {
  background: var(--color-sec);
  padding: 1em;
  margin: 1em;
  width: 80%;
  max-width: 240px;
}

/*
 * Utility
 */

.background-primary {
  background: var(--color-prim);
}

#track-map {
  height: 100%;
}

.clearfix {
  overflow: auto;
}
