@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/leaflet/dist/leaflet.css';

:root {
    --color-prim: #79cccd;
    --color-prim-light: #e0f2f1;
    --color-prim-muted: #527f7f;
    --color-sec: #6acf96;
    --color-confirm: #65c97d;
    --color-cancel: #bc3333;
    --color-dark: #555555;
}


html,
body {
    all: unset;
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}


/* According to the Material design spec button text has to be capitalized */
button {
    text-transform: capitalize;
}

.flex-container.flex-container-column {
    flex-direction: column;
}

.flex-container.flex-container-row {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1em;
    padding-bottom: 1em;
}

/* Colourista */

.background-primary {
  background: var(--color-prim);
}
.background-primary-muted {
  background: var(--color-prim-muted);
}
.background-dark {
  background: var(--color-dark);
}