<!-- <div class="card mt-5">
  <div class="card-body">
    <form #carForm="ngForm" (ngSubmit)="onSubmit(carForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="carService.selectedCar.$key">
      <div class="form-group">
        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="carService.selectedCar.name"
          placeholder="Add Car Name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="plate" #name="ngModel" [(ngModel)]="carService.selectedCar.plate"
          placeholder="Add Car Plate" required>
      </div>
      <div class="form-group">
        <span *ngIf="!carService.selectedCar.$key">
          <button [disabled]="!carService.selectedCar.name  || !carService.selectedCar.plate" class="btn btn-success"
            type="submit">
            <i class="fas fa-plus-circle"></i> Add Car
          </button>
        </span>
        <span *ngIf="carService.selectedCar.$key">
          <button [disabled]="!carService.selectedCar.name || !carService.selectedCar.plate" class="btn btn-info" type="submit">
            <i class="far fa-edit"></i> Update
          </button>
        </span>

        <button class="btn btn-secondary" type="reset" (click)="resetForm(carForm)">
          <i class="fas fa-sync-alt"></i> Reset
        </button>
      </div>

    </form>
  </div>
</div> -->

<mat-card>
  <mat-card-title>
    Add Car
  </mat-card-title>
  <mat-card-content>
    <form class="example-form" #carForm="ngForm" (ngSubmit)="onSubmit(carForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="carService.selectedCar.$key">
      <mat-form-field>
        <input matInput placeholder="Car Name" [errorStateMatcher]="matcher" name="name" #name="ngModel" [(ngModel)]="carService.selectedCar.name">
        <!-- <mat-hint>Car Name</mat-hint> -->
        <mat-error *ngIf="carNameFormControl.hasError('carNameFormControl') && !carNameFormControl.hasError('required')">
          Please enter a car name
        </mat-error>
        <mat-error *ngIf="carNameFormControl.hasError('required')">
          Car Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <br>

      <mat-form-field>
        <input matInput placeholder="Car Plate" [errorStateMatcher]="matcher" name="plate" #name="ngModel" [(ngModel)]="carService.selectedCar.plate">
        <!-- <mat-hint>Car Plate</mat-hint> -->
        <mat-error *ngIf="carPlateFormControl.hasError('carPlateFormControl') && !carPlateFormControl.hasError('required')">
          Please enter a car plate
        </mat-error>
        <mat-error *ngIf="carPlateFormControl.hasError('required')">
          Car Plate is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <br>

      <button mat-raised-button color="primary" [disabled]="!carService.selectedCar.name || !carService.selectedCar.plate"
        class="btn btn-success" type="submit">Add
      </button>
      <span></span>
      <button mat-button color="primary" [disabled]="!carService.selectedCar.name && !carService.selectedCar.plate"
        (click)="resetForm(carForm)">
        Reset
      </button>

    </form>
  </mat-card-content>
</mat-card>