<div id="form-and-map">
  <div>
    <mat-card>
      <mat-card-title>
        Add Car
      </mat-card-title>
      <form class="example-form" #carForm="ngForm" (ngSubmit)="onSubmit(carForm)">
        <mat-card-content>
          <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="carService.selectedCar.$key">
          <mat-form-field>
            <input matInput placeholder="Car Name" [errorStateMatcher]="matcher" name="name" #name="ngModel"
              [(ngModel)]="carService.selectedCar.name">

            <mat-error *ngIf="carNameFormControl.hasError('carNameFormControl') && !carNameFormControl.hasError('required')">
              Please enter a car name
            </mat-error>
            <mat-error *ngIf="carNameFormControl.hasError('required')">
              Car Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <br>

          <mat-form-field>
            <input matInput placeholder="Car Plate" [errorStateMatcher]="matcher" name="plate" #name="ngModel"
              [(ngModel)]="carService.selectedCar.plate">

            <mat-error *ngIf="carPlateFormControl.hasError('carPlateFormControl') && !carPlateFormControl.hasError('required')">
              Please enter a car plate
            </mat-error>
            <mat-error *ngIf="carPlateFormControl.hasError('required')">
              Car Plate is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br>
        </mat-card-content>
        <mat-card-footer style="margin-left:1px; margin-bottom:1px;">
          <button mat-raised-button color="primary" [disabled]="!carService.selectedCar.name || !carService.selectedCar.plate"
            class="btn btn-success" type="submit">{{ carService.selectedCar.$key ? 'Update' : 'Add' }}
          </button>
          <span></span>
          <button mat-button color="primary" [disabled]="!carService.selectedCar.name && !carService.selectedCar.plate"
            (click)="resetForm(carForm)">
            Reset form
          </button>
        </mat-card-footer>
      </form>

    </mat-card>
  </div>
  <div>
    <mat-card style="height:100%;">
      <div id="track-map"></div>
    </mat-card>
  </div>
</div>